#root,
.CacheRoute,
.Router {
  height: 100%;
  overflow-y: auto;
}
.iconfont {
  font-size: 1.2rem;
}
.mainContent {
  overflow-y: auto;
}
.loading {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
}
.loading-container {
  display: inline-block;
}
::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(151, 168, 190, 0.5);
  /* transition: opacity 120ms ease-out; */
  -webkit-border-radius: 1px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  background-color: rgba(151, 168, 190, 0.5);
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.txt-lt {
  text-align: left;
}
.txt-ct {
  text-align: center;
}
.txt-rt {
  text-align: right;
}
.link {
  color: #409eff;
}
.colorRed {
  color: #f00;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
.align-center {
  display: flex;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.height100 {
  height: 100%;
}
.TabBar .am-tabs-tab-bar-wrap {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.am-picker-popup-title .am-list-item.am-input-item {
  height: 38px;
  min-height: 38px;
}
.am-picker-popup-title .am-list-item.am-input-item input {
  text-align: center;
}
.am-list-item .am-list-line-multiple .am-list-extra,
.am-list-item .am-list-line .am-list-extra {
  flex-basis: auto !important;
}