<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="代理api" enabled="true">
                    <match url="(api).*" />
                    <action type="Rewrite" url="http://47.99.50.220:8081/{R:0}" />
                </rule>
                <rule name="代理到Cicaba" enabled="false">
                    <match url="^(.*)" />
                    <action type="Rewrite" url="http://cicaba.top:2021/{R:1}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^jxtwx.tongzhichina.com$" />
                    </conditions>
                </rule>
                <rule name="vueHistory" enabled="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="reactHistory" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_METHOD}" pattern="^GET$" />
                        <add input="{HTTP_ACCEPT}" pattern="^text/html" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
